.chessboard {
    display: none;
    grid-template-columns: repeat(8, minmax(0, 1fr));
    grid-template-rows: repeat(8, minmax(0, 1fr));
    width: 400px;
    height: 400px;
    transform: rotate(0deg);
    box-shadow: 0px 0px 50px rgb(255, 255, 255);
    border: 3px solid black;
    padding-bottom: 1px;
    border-radius: 5px;
}


.body {
    background-image: url('https://imgs.search.brave.com/vsTTYSdErZrQUI-_iyDFvmBh-8oKAugNwTW_-qTIEMU/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly93YWxs/cGFwZXJhY2Nlc3Mu/Y29tL2Z1bGwvMTIz/MTg2NC5qcGc'), radial-gradient(circle, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 1) 100%);
    background-size: cover;  
    background-position: center;  
    background-repeat: no-repeat; 
    height: 100vh;  
    margin: 0;
}

.hearder {
    background-color: #504f4d;
    height: 15%;
    padding: 0 10px;
}

nav {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.piece.white {
    color: whitesmoke;
    filter: drop-shadow(0 0 2px rgba(0, 0, 0, 1));
}

.piece.black {
    color: black;
    filter: drop-shadow(0 0 2px rgb(255, 255, 255));
}

.flipped {
    transform: rotate(180deg);
}

.square {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
}

.square.light {
    background-color: #dcdcd6;
}

.square.dark {
    background-color: #151515;
}

.piece {
    font-size: 36px;
    cursor: pointer;
}

.piece.draggable {
    cursor: grab;
}

.dragging {
    opacity: 0.5;
}

.flipped .piece {
    transform: rotate(180deg);
}
.offcanvas-body {
    padding-bottom: 70px; /* Adjust based on the height of the footer */
}
.notification_count{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/* Mobile responsiveness */
@media screen and (max-width: 768px) {
    .chessboard {
        width: 300px;
        height: 300px;
    }

    .slied_btn {
        left: 4.5% !important;
    }
    
    .square {
        width: 40px;
        height: 40px;
    }

    .piece {
        font-size: 28px;
    }

    .body {
        background-position: center;
    }

    .header {
        height: 12%;
    }
    
    .profile-image {
        height: 250px;
    }

    .chat_box {
        flex-direction: column;
        padding: 5px;
    }

    .message {
        font-size: 14px; /* Adjust message font size for mobile */
    }
}

@media screen and (max-width: 468px) {
    .header {
        height: 13%;
    }

    .chessboard {
        width: 250px;
        height: 250px;
    }

    .square {
        width: 30px;
        height: 30px;
    }

    .piece {
        font-size: 24px;
    }

    .profile-image {
        height: 200px;
    }

    .chat_box {
        padding: 5px;
    }

    .message {
        font-size: 12px; /* Adjust message font size for smaller screens */
    }
}


