<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chess</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/stylesheet/style.css">
</head>

<body class="w-full h-screen flex flex-col bg-zinc-900 overflow-hidden">

    <!-- Main Content -->
    <div class="flex-grow flex items-center justify-start overflow-hidden">
        <a href="/" class="absolute top-[3%] left-[3%] font-bold text-white text-2xl bg-transparent">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed">
                <path d="m313-440 224 224-57 56-320-320 320-320 57 56-224 224h487v80H313Z" />
            </svg>
        </a>
        <div class="w-full h-full p-10 bg-zinc-900">
            <h1 class="text-white text-4xl font-bold font-serif">My Games:</h1>
            <div class="w-full h-full flex flex-col gap-4">
                <% games.forEach(game => { %>
                    <div class="flex items-center justify-between w-full h-[15%] mt-2 bg-zinc-800 p-4 rounded-md">
                        <% if (game.type === "winner") { %>
                            <div class="first_items flex justify-start items-center">
                            <img src="https://imgs.search.brave.com/tbcaT5bldr7JUvXITOIMzPaPIWZHUKJqXKUM3O9LcSg/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly90NC5m/dGNkbi5uZXQvanBn/LzEwLzIwLzYwLzc5/LzM2MF9GXzEwMjA2/MDc5MTNfdnRUczFQ/ckRPV2FpRnZydktO/d2ZnMWVMZGwyMEhO/N1IuanBn" 
                                alt="chess" class="w-[10%] h-full  rounded-full shadow-md shadow-black">
                            <h1 class="text-white font-bold text-4xl font-serif ml-2">
                                <span class="text-green-500">Winner</span>
                            </h1>
                            </div>
                            <div class="buttons">
                                <a href='/watch/<%= game.gameId%>' class="bg-green-500 text-white px-4 py-2 rounded-md">
                                    Watch
                                </a>
                                <a href="/delete/<%= game.gameId%>" class="bg-red-500 text-white px-4 py-2 rounded-md">
                                    Delete
                                </a>
                            </div>
                        <% } else if (game.type === "loser") { %>
                            <div class="first_items flex justify-start items-center">
                            <img src="https://imgs.search.brave.com/tbcaT5bldr7JUvXITOIMzPaPIWZHUKJqXKUM3O9LcSg/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly90NC5m/dGNkbi5uZXQvanBn/LzEwLzIwLzYwLzc5/LzM2MF9GXzEwMjA2/MDc5MTNfdnRUczFQ/ckRPV2FpRnZydktO/d2ZnMWVMZGwyMEhO/N1IuanBn" 
                                alt="chess" class="w-[10%] filter brightness-125 contrast-150 grayscale h-full rounded-full shadow-md shadow-black">
                            <h1 class="text-white font-bold text-4xl font-serif ml-2">
                                <span class="text-red-500">Loss</span>
                            </h1>
                        </div>
                        <div class="buttons">
                            <a href='/watch/<%= game.gameId%>' class="bg-green-500 text-white px-4 py-2 rounded-md">
                                Watch
                            </a>
                            <a href="/delete/<%= game.gameId%>" class="bg-red-500 text-white px-4 py-2 rounded-md">
                                Delete
                            </a>
                        </div>
                        <% } %>
                    </div>

                <% }) %>
                <% if (games.length === 0) { %>
                    <p class="text-white text-2xl font-bold flex justify-center items-center w-full h-full font-serif">No games found</p>
                <% } %>
            </div>
        </div>
    </div>

    <!-- Scripts -->
    <script src="https://cdn.socket.io/4.8.1/socket.io.min.js"
        integrity="sha384-mkQ3/7FUtcGyoppY6bz/PORYoGqOl7/aSUMn2ymDOJcapfS6PHqxhRTMh1RR0Q6+"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.10.3/chess.min.js"
        integrity="sha512-xRllwz2gdZciIB+AkEbeq+gVhX8VB8XsfqeFbUh+SzHlN96dEduwtTuVuc2u9EROlmW9+yhRlxjif66ORpsgVA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="module" src="/javascript/ChessGame.js"></script>
</body>

</html>
